.container {
  display: flex;
  flex-direction: column;
  border: 5px solid teal;
  text-align: center;
  /* margin: 90px; */
  /* padding: 5vh; */
  /* border-radius: 20px; */
  color: black;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 20px;
  font-weight: 600;
}


input{
  border: 2px solid black;
  height: 35px;
}

button{
  border: 2px solid green;
  margin: 12px;
  padding: 2px;
}